body {
  margin: 0 0 50px;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.containerBorder {
  width: 80%;
  margin-top: 40px;
  padding: 40px 40px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.containerBorder #insertBookBtn {
  display: flex;
  align-items: center;
  background-color: #2196f3;
  outline: none;
  border: none;
  padding: 10px 20px;
  width: 95%;
  cursor: pointer;
}

.containerBorder #insertBookBtn img {
  width: 30px;
}

.containerBorder #insertBookBtn p {
  font-size: large;
  width: 100%;
  font-weight: bold;
  color: #F0F8FF;
}

.containerBorder .insertBookDiv {
  border: 1px solid;
  margin-top: 20px;
  width: 91%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.containerBorder .insertBookDiv #insertNewBookForm {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.containerBorder .insertBookDiv #insertNewBookForm div{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.containerBorder .insertBookDiv #insertNewBookForm div input{
  flex-basis: 70%;
  height: 40px;
  margin: 20px 0;
  margin-left: 70px;
}

.containerBorder .insertBookDiv #insertNewBookForm button {
  margin: 20px auto 50px;
  padding: 10px 20px;
  cursor: pointer;
}

.containerBorder .books {
  border: 1px solid;
  padding: 20px;
  margin-top: 20px;
  width: 91%;
  text-align: center;
}

.containerBorder .books .booksList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.containerBorder .books .booksList h3 {
  font-size: x-large;
  font-weight: normal;
  margin: 200px auto;
}

.containerBorder .books .booksList div {
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 10px 20px;
  width: 80%;
  margin-top: 20px;
  cursor: pointer;
}

.containerBorder .books .booksList div img {
  width: 20px;
}

.containerBorder .books .booksList div p {
  font-size: large;
  width: 100%;
  margin: 0;
}

.containerBorder .books .booksList .bookDetails {
  margin: 0;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  cursor: default;
}

.containerBorder .books .booksList .bookDetails .deleteBtn {
  align-self: flex-end;
  padding: 5px 30px;
  background-color: #ff3131;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.containerBorder .books .booksList .bookDetails div {
  border: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: justify;
  cursor: default;
}

.containerBorder .books .booksList .bookDetails span {
  font-size: large;
}

.containerBorder .books .booksList .bookDetails p {
  width: 60%;
  font-size: large;
  max-width: 60%;
  margin-right: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.containerBorder .books .booksList .bookDetails input {
  width: 60%;
  font-size: large;
  max-width: 60%;
  margin-right: 20px;
  margin-left: 50px;
  cursor: pointer;
  height: 40px;
}

.modal {
  border: none;
  border-radius: 8px;
  background-color: #d7fcf8;
  text-align: center;
  padding: 0;
}

.modal form {
  padding: 2rem;
}

.modal img {
  float: right;
  width: 20px;
  margin: 10px;
  cursor: pointer;
}

.modal h3 {
  margin: 20px auto;
  cursor: default;
}

.modal button {
  padding: 8px 20px;
  margin: 8px 4px;
  background-color: #2196f3;
  color: #F0F8FF;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
